@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(252, 210, 84);
  text-align: center;
}
.container {
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 2px 3px 5px 2px;
  font-size: 12vmin;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  color: black;
}

#reset-btn{
padding: 1rem;
border-radius: 0.8rem;
background-color: black;
color: aliceblue;
font-size: 0.9rem;
border: none;

}
button:hover{
  cursor: pointer;
}

#msg{
color: rgb(255, 0, 0);
font-size: 8vmin;
}
.hide{
  display: none;
}
.newtry{
  height: 10vmin;
}

.box:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.box:hover:enabled {
  background-color: #ddd;
}
